<h1>Lista de Posts</h1>
<p>Cantidad de Posts: <%= @posts.count %></p>

<%= @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>
<% end %>

<div>
    <%= link_to 'Agregar Nuevo Post', posts_new_path, class:"btn btn-dark" %>
</div>
